From 1ae83c5c97bb90d7c272c03807b7c82911516610 Mon Sep 17 00:00:00 2001
From: Masahiro Yamada <yamada.masahiro@socionext.com>
Date: Sat, 16 Dec 2017 00:38:01 +0900
Subject: [PATCH] kconfig: use bool instead of boolean for type definition attributes, again
Git-commit: 1ae83c5c97bb90d7c272c03807b7c82911516610 (partial)
Patch-mainline: v4.16-rc1
References: FATE#326887

[ only applied the hunk for rtlwifi staging Kconfig -- tiwai ]

Commit 6341e62b212a ("kconfig: use bool instead of boolean for type
definition attributes") did treewide replacement of 'boolean', and
also mentioned the keyword 'boolean' would be dropped later on.

Some years have passed, but it has not happened yet.  Meanwhile, some
new instances have come up.

I am really going to drop this keyword.  I need to do the replacement
once again.

Signed-off-by: Masahiro Yamada <yamada.masahiro@socionext.com>
Acked-by: Greg Kroah-Hartman <gregkh@linuxfoundation.org>
Acked-by: Takashi Iwai <tiwai@suse.de>

---
 drivers/staging/rtlwifi/Kconfig |    2 +-
 1 file changed, 1 insertion(+), 1 deletion(-)

--- a/drivers/staging/rtlwifi/Kconfig
+++ b/drivers/staging/rtlwifi/Kconfig
@@ -7,6 +7,6 @@ config R8822BE
 	wireless network adapters.
 
 config RTLWIFI_DEBUG_ST
-	boolean
+	bool
 	depends on R8822BE
 	default y
